<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Opciones principales</title>
</head>
<body>

  <a href="/servicios">Gestión de servicios prestados</a><br>
  <a href="/tarifas">Gestión de mascotas</a><br>
  <a href="/servicios">Gestión de servicios prestados</a><br>

  {% if rol == "admin" %}
    <label for="gestion_usuarios">Gestión de usuarios:</label>
    <select id="gestion_usuarios" onchange="redirigirUsuario(this.value)">
      <option value="">Seleccionar opción</option>
      <option value="/admin/agregar_usuario">Crear Usuario</option>
      <option value="/admin/activar">Activar Usuario</option>
      <option value="/admin/desactivar">Desactivar Usuario</option>
      <option value="/admin/editar">Editar Usuario</option>
      <option value="/admin/eliminar">Eliminar Usuario</option>
    </select>
    <br>

    <a href="/tarifas">Gestión de tarifas</a><br>
    <a href="/convenios">Gestión de convenios</a><br>
  {% endif %}

  <br>
  <h2>Bienvenido(a) {{ nom }}</h2>

  <script>
    function redirigirUsuario(ruta) {
      if (ruta) {
        window.location.href = ruta;
      }
    }
  </script>

</body>
</html>
